---
layout: default
---

<div id="home">
  <h1>Somesh Chaturvedi</h1>
  <p>
    I'm a programmer and 1x founder with over 6 years of experience spanning various engineering and product roles, from
    hands-on contributor to leadership.
    I love building products for developers.

  </p>
  <p>
    I believe
  <ul>
    <li>Done is way better than perfect</li>
    <li>Exploration is second nature to humans</li>
    <li>Consistency beats raw talent</li>
  </ul>
  </p>

  <p> My current areas of interests are developer tools for LLMs and autonomous agents. Some systems programming on the side.</br> You can DM me on <a
      href="https://x.com/0xsomesh">X (twitter)</a></p>
  </br>
  <!-- <ul class="posts"> -->
  <!-- {% for post in site.posts %} -->
  <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
  <!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
  <!-- {% endfor %} -->
  <!-- </ul> -->
  <div>
    <h3>Articles</h3>

    {% for post in site.posts %}
    {% if post.is_post %}
    <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
    <a href="{{ post.url }}">{{ post.title }}</a></br>
    {%- endif %}
    {% endfor %}
  </div>

  <div style="margin-top: 45px;">
    <h3>Projects</h3>
    {% for post in site.posts %}
    {% if post.is_project %}
    <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
    <a href="{{ post.url }}">{{ post.title }}</a></br>
    {%- endif %}
    {% endfor %}
    <a target="_blank" href="https://gist.github.com/0xsomesh/4b7cc34fa794da5bb7c438941326e164">Reference Sequene Retrieval API with GA4GH</a>
  </div>

  <div style="margin-top: 45px;">
    <h3>Currently reading: <a target="_blank" href="https://www.goodreads.com/book/show/52382796-sh-gun">Shogun</a> </h3>
    {% for post in site.posts %}
    {% if post.is_recommended_books %}
    <a href="{{ post.url }}">{{ post.title }}</a></br>
    {%- endif %}
    {% endfor %}
  </div>

</div>