<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <ul class="social-media-list" style="display: flex; justify-content: space-around">
            <li style="padding-top: 5px;"><a href="https://github.com/0xsomesh"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg></a></li>
            <li><a href="https://www.linkedin.com/in/somesh-chaturvedi"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg></a></li>
            <li><a href="https://www.twitter.com/0xsomesh"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg></a></li></ul>
        </div>
  
        <div class="footer-col footer-col-3" style="display: flex">
          <p>{{- site.description | escape -}}</p>
        </div>
      </div>
  
    </div>
  
  </footer>